.modal__wrapper {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  overflow: hidden;
  z-index: 20;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  color: white;
  font-size: 2rem;
  border: none;
}

.modal__content {
  position: absolute;
  max-width: 90%;
  min-width: 50%;
  max-height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 3px;
  box-shadow: 0px 0px 10px #000;
}

.modal__info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.modal__imageWrapper {
  margin-top: 5.5rem;
}

.modal__image {
  max-height: 65vh;
  min-height: 200px;
  max-width: 100%;
  min-width: 35%;
  background-color: rgb(148, 148, 148);
}

.modal__actions {
  position: relative;
  width: 100%;
}

.modal__like {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
}

.modal__download {
  display: flex;
  justify-content: center;
}

.dropdown__container {
  position: relative;
  width: 180px;
  top: 0;
}

.dropdown__toggle {
  color: #000000;
  background-color: #05a081;
  font-size: 1rem;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  transition: all ease-in-out 0.3s;
}

.dropdown__toggle::before {
  content: "";
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  border: 5px solid;
  border-top-color: rgb(255, 255, 255, 0);
  border-left-color: rgba(255, 255, 255, 0);
  border-right-color: rgba(255, 255, 255);
  border-bottom-color: rgba(255, 255, 255);
  margin-top: -2.5px;
  background-color: rgba(255, 255, 255, 0);
  transition: all ease-in-out 0.2s;
}

.dropdown__menu ul {
  list-style: none;
  position: absolute;
  padding: 10px 0 10px 0;
  top: 45px;
  background-color: white;
  width: 180px;
  z-index: 10;
  border-radius: 5px;
}

.dropdown__menu {
  display: none;
  transition: 0.3s ease-out;
}

.dropdown__container.active .dropdown__menu {
  display: block;
}

.dropdown__container.active .dropdown__toggle::before {
  transform: rotate(-135deg);
}

.dropdown__name {
  background-color: #05a081;
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  text-align: center;
  height: 40px;
  border: none;
  border-radius: 5px 0 0 5px;
  border-right: 1px solid white;
  color: white;
}

.dropdown__menu_radio {
  margin-right: 10px;
  margin-top: 10px;
}

.dropdown__menu_radio:last-of-type {
  margin-bottom: 10px;
}

.dropdown__menu_item label {
  display: flex;
  align-items: center;
  padding-left: 15px;
}
