.modal__wrapper {
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__close {
  position: absolute;
  top: 10px;
  left: 0;
}

.modal__content {
  position: absolute;
  width: 22%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 3px;
  box-shadow: 0px 0px 10px #000;
}

.modal__header {
  display: flex;
  justify-content: flex-end;
}

.modal__info {
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
}
